.main{
  position: relative;
  z-index: 0;

  &__banner{
    z-index: -1;
  }

}

.block-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__workshop{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
